.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;

  background-color: #312E2E;
}
.navlink-home {
  font-family: Inter, "sans-serif";
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

.wrapper {
  max-width: 920px;
  margin: 0 auto;
}
