.breed-info-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 52px;
}

.breed-images-item {
  max-width: 270px;
  height: 165px;

  object-fit: contain;
}

.breed-info-name {
  margin: 10px 0 20px 0;

  font-family: Inter, "sans-serif";
  font-size: 36px;
  font-weight: 400;
}

.btn-back {
  display: flex;
  align-items: center;

  gap: 10px;

  font-family: Inter, "sans-serif";
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.breed-page {
  padding-top: 32px;
}


