<div class="breeds-list">
  <ng-container *ngIf="responseAllBreeds && responseImagesBreeds">
    <a
      routerLink="/breed"
      [queryParams]="breed"
      class="navlink-breed-div"
      *ngFor="let breed of listBreeds"
      href="">
      <div class="breed-item">
        <div class="breed-item-wrapper">
          <div class="breed-item-info">
            <img class="breed-img" src="{{breed.urlImgBreed}}" alt="">
            <h2 class="breed-name">{{breed.nameBreed}}</h2>
          </div>
          <img src="../../assets/images/ArrowViewBreed.png" alt="">
        </div>
      </div>
    </a>
  </ng-container>
</div>
